@use "breakpoints";

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#pageTop {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #ffcc00, #ff4d4d);
  padding: 1em;
  
  @include breakpoints.desktop(){  
    padding: 2em;

  }
}

.pokeBallLogo {
  width: 70px;
  margin-left: 1em;
  border: solid white;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

  @include breakpoints.desktop(){  
    width: 100px;
    margin-left: 2em;
  }
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  @include breakpoints.desktop(){  
    font-size: 3.2em;

  }
}

#mainContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  padding: 1em;
  width: 100%;
  height: 100vh;

  @include breakpoints.desktop() { 
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
}

#pokemonNameContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.5em;
  width: 100%;
  height: auto;
  max-height: 140px;
  padding: 1em;
  background-color: rgb(230, 230, 230);
  border-radius: 0.5em;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow-y: auto;

  @include breakpoints.desktop() {
    gap: 0.5em;
    position: absolute;
    width: 250px;
    height: auto;
    max-height: 100%;
    left: 5em;
    }
  }
  
  .pokemonNameText {
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0;
  }



#pokeSearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 70%;
  padding: 1em;
  gap: 0.5em;
  border-radius: 0.5em;
  background-color: rgb(230, 230, 230); 
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);

  @include breakpoints.desktop() {    
    width: 50%;
    height: 80%;
    padding: 3rem;
    gap: 1em;   
  }

  #counterContainer {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 2em;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: inset 0px 0px 1.5px 1.5px rgba(0, 0, 0, 0.3);
  
    #pokemonCounter {
      margin: 0;
      font-weight: 500;
    }
  }
  

}

button {
  color: whitesmoke;
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: crimson;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


#searchPokemon {
  padding: 0.5em;
  width: 200px;
  box-sizing: border-box;
  border-radius: 8px;

}

#searchResults {
  width: 100%;
  height: 300px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto; 
  background-color: white;
  border-radius: 0.5em;
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.3);

  @include breakpoints.desktop() {
    max-height: 300px;
  }
}

#progressContainer {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #timerContainer {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 2em;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: inset 0px 0px 1.5px 1.5px rgba(0, 0, 0, 0.3);
  

    #timer {
    margin: 0;
    font-weight: 500;
  }
}
}

.pageBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: linear-gradient(to right, #ffcc00, #ff4d4d); 

  .copyright {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}